body{
    font-family: 'Roboto', sans-serif;  
    background-color: #FFFFFF;
    color: #434455;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style-type: none;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4d5ae5;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo .logo-web{
    color: #2E2F42;
}

.menu-item{
    font-size: 16px;
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.menu-item:hover, .menu-item:focus{
    color: #404BBF;
}

.main-address{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.main-address-link:hover, .main-address-link:focus{
    color: #404bbf;
}

.hero{
    background-color: #2E2F42;
}

.hero-title{
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 107.143%;
    letter-spacing: 1.12px;
}

.hero-button{
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    line-height: 1,5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.hero-button:hover, .hero-button:focus{
    background-color: #404BBF;
}



.benefits{
    background-color: #FFFFFF;
}

.benefits-title{
    font-size: 20px;
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}

.benefits-text{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.team{
    background-color: #F4F4FD;
}

.team-title{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-item{
    background-color: #FFFFFF;
}

.team-name{
    text-align: center;
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}

.team-description{
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.portfolio{
    background-color: #FFFFFF;
}

.portfolio-title{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.portfolio-item{
    border: 1px solid #E7E9FC;
    background-color: #FFFFFF;
}

.portfolio-subtitle{
    font-size: 20px;
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}

.portfolio-description{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.page-footer{
    background-color: #2E2F42;
}

.footer-text{
    color: #F4F4FD;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.logo-footer{
    font-family: Raleway;
    color: #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-footer .logo-web{
    color: F4F4FD;
}