body{
    font-family: 'Roboto', sans-serif;  
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}

ul, ol{
    list-style-type: none;
}

.logo{
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.667%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo .logo-web{
    color: #4D5AE5;
}

.menu-item{
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.main-address-item{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.hero{
    background-color: #2E2F42;
}

.hero-title{
    color: #FFF;
text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 107.143%;
letter-spacing: 1.12px;
}

.hero-button{
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button-text{
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
}

.benefits{
    background-color: #FFFFFF;
}

.benefits-title{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}

.benefits-text{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.team{
    background-color: #F4F4FD;
}

.team-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-item{
    background-color: #FFFFFF;
}

.team-name{
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}

.team-description{
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.portfolio{
    background-color: #FFFFFF;
}

.portfolio-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.portfolio-item{
    border: 1px solid #E7E9FC;
    background-color: #FFFFFF;
}

.portfolio-subtitle{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}

.portfolio-description{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.page-footer{
    background-color: #2E2F42;
}

.footer-text{
    color: #F4F4FD;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}